.posts {
  display: block;
  margin: 1.5em 1.5em;
}

.posts textarea {
  cursor: pointer;
  width: 200px;
  height: 70px;
}

.posts button {
  height: 30px;
  width: 60px;
  margin: 10px;
  cursor: pointer;
}