.dialogs {
  display: grid;
  grid-template-columns:  1fr 2fr 10fr;
}

.avatarItems {
  padding: 1rem;
}

.avatar {
  width: 70px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.dialogItems {
  font-size: large;
  color: black;
  font-weight: bold;
  padding: 1rem;
}

.dialog {
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: 20px;
}

.dialog a {
  text-decoration: none;
}

.dialog a:hover {
  color: black;
}

.dialog a.active{
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 5px;
}

textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}

button {
  cursor: pointer;
}
